@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Oleo+Script+Swash+Caps&family=Style+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom{
  @apply bg-[#03203C] text-white hover:bg-[#8C4040] hover:transition-transform hover:scale-110
}

.loginForm{
  background-image: url('authImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
body{
  @apply bg-slate-50
}