@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Oleo+Script+Swash+Caps&family=Style+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom{
  @apply bg-[#03203C] text-white hover:bg-[#8C4040] hover:transition-transform hover:scale-110
}

.loginForm{
  background-image: url('authImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
body{
  @apply bg-slate-50
}

.draw{
  position: relative;
  width: 270px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.draw1{
  position: relative;
  width: 270px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.draw::before{
  content: '';
  position: absolute;
  height: 70px;
  width: 280px;
  background-image: conic-gradient(transparent,transparent, transparent, rgba(245, 129, 245, 0.75));
  animation: animate 3s linear infinite;
}
.draw1::before{
  content: '';
  position: absolute;
  height: 70px;
  width: 280px;
  background-image: conic-gradient(transparent,transparent, transparent, rgba(76, 209, 250, 0.75));
  animation: animate1 3s linear infinite;
}


@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
@keyframes animate1{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}